.user__list {
    flex:4;
    /* padding: 20px; */
}

.user__list__user {
    display: flex;
    align-items: center;
}

.user__list__img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 10px;
}
/* .MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
    justify-content: center;
} */
.MuiDataGrid-cell{
    text-align: center!important;
   
  }
  
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: none !important;
}
.status {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

div[data-field="status"] {
    margin-left: 0px !important;
}

.status {
    margin-left: 20px;
}

.Basic {
    background-color: rgb(68, 94, 239);
    -webkit-box-shadow: 0px 0px 11px -3px rgb(32, 99, 224); 
    box-shadow: 0px 0px 11px -3px rgb(27, 13, 216);
}

.Standard {
    background-color: #e50914;
    -webkit-box-shadow: 0px 0px 11px -3px #e50914; 
    box-shadow: 0px 0px 11px -3px #e50914;
}
.Premiuim {
    background-color: rgb(138, 43, 226);
    -webkit-box-shadow: 0px 0px 11px -3px  rgb(138, 43, 226); 
    box-shadow: 0px 0px 11px -3px  rgb(138, 43, 226);
}

.user__delete {
    background-color: red;
    padding: 3px ;
    cursor: pointer;
    color: #ffffff;
    outline: none !important;
    margin-left: 20px;
    border-radius: 5px;
}
